/****************************************************************************


ADRESSE.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include <windows.h>
#include <windowsx.h>
#include "adresse.rh"
MainDialog DIALOG 19, 56, 275, 175
STYLE DS_MODALFRAME | 0x4L | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CLASS "BorDlg_Gray"
CAPTION "Adressenverwaltung"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "Datenbank", IDC_File, 220, 10, 50, 14, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Adresse", IDC_Adresse, 220, 30, 50, 14
 PUSHBUTTON "Ausdrucken", IDC_Print, 220, 50, 50, 14
 PUSHBUTTON "Suchen nach", IDC_Search, 220, 70, 50, 14
 PUSHBUTTON "<<", IDC_First, 220, 90, 22, 14
 PUSHBUTTON ">>", IDC_Last, 248, 90, 22, 14
 PUSHBUTTON "<", IDC_Left, 220, 110, 22, 14
 PUSHBUTTON ">", IDC_Right, 248, 110, 22, 14
 PUSHBUTTON "Beenden", IDC_Exit, 220, 136, 50, 14
 EDITTEXT IDC_Name, 5, 20, 100, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
 EDITTEXT IDC_Vorname, 110, 20, 100, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_Strasse, 5, 45, 205, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_PLZ, 5, 70, 25, 12
 EDITTEXT IDC_Ort, 35, 70, 175, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_Telefon, 5, 95, 100, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_Telefax, 110, 95, 100, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_Info, 5, 120, 205, 30, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "Name", 118, 5, 10, 100, 8
 LTEXT "Vorname", 119, 110, 10, 100, 8
 LTEXT "Straße mit Hausnummer / Postfach", 120, 5, 35, 205, 8
 LTEXT "PLZ", 121, 5, 60, 25, 8
 LTEXT "Ort", 122, 35, 60, 175, 8
 LTEXT "Telefon", 123, 5, 85, 100, 8
 LTEXT "Telefax / Online", 124, 110, 85, 100, 8
 LTEXT "Informationen / Anmerkungen", 125, 5, 110, 205, 8
 CONTROL "", -1, "BorShade", BSS_VDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 215, 0, 2, 160
 CONTROL "", -1, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 5, 159, 84, 13
 LTEXT "Adresse Nr.:", -1, 7, 161, 44, 8
 RTEXT "", 138, 49, 161, 35, 8
 CONTROL "", IDC_StatusBar, "BorShade", BSS_GROUP | BSS_CAPTION | BSS_LEFT | WS_CHILD | WS_VISIBLE, 95, 159, 175, 13
}

DatenDialog DIALOG 89, 104, 160, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg_Gray"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 71, 50, 14
 CONTROL "Version                       :", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 16, 80, 8
 CONTROL "letzter Schreibzugriff    :", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 26, 80, 8
 CONTROL "Anzahl der Datensätze :", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 36, 80, 8
 CONTROL "Verschlüsselung          :", 107, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 46, 80, 8
 CONTROL "", IDC_Felder, "LISTBOX", LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 5, 75, 91, 8
 CONTROL "allgemeine Daten", IDC_Data, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 5, 150, 55
 CONTROL "Felder:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 65, 60, 8
 CONTROL "", 103, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 95, 16, 55, 8
 CONTROL "", 104, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 95, 26, 55, 8
 CONTROL "", 105, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 95, 36, 55, 8
 CONTROL "", 106, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 95, 46, 55, 8
}

SortDialog DIALOG 68, 69, 155, 60
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg_Gray"
CAPTION "Sortieren"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 5, 41, 50, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Abbruch", IDCANCEL, 100, 41, 50, 14
 COMBOBOX IDC_SortFirst, 60, 5, 90, 33, CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 COMBOBOX IDC_SortSecond, 60, 25, 90, 33, CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 LTEXT "1. Sequenz:", -1, 5, 8, 51, 8
 LTEXT "2. Sequenz:", -1, 5, 28, 51, 8
}

QualityDialog DIALOG 70, 78, 165, 75
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg_Gray"
FONT 8, "MS Sans Serif"
{
 LISTBOX IDC_Fields, 10, 15, 85, 50, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 EDITTEXT IDC_Length, 105, 15, 50, 12
 DEFPUSHBUTTON "OK", IDC_OK, 105, 32, 50, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Abbrechen", IDC_Cancel, 105, 51, 50, 14
 LTEXT "Datenfeld:", -1, 10, 5, 85, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Feldlänge:", -1, 105, 5, 50, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
}






SearchDialog DIALOG 65, 78, 210, 80
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg_Gray"
CAPTION "Suchen nach"
FONT 8, "MS Sans Serif"
{
 LISTBOX IDC_Fields, 5, 17, 85, 55, LBS_NOTIFY | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 EDITTEXT IDC_Chars, 100, 17, 105, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 CONTROL "vom Anfang an suchen", IDC_FromBegin, "BorCheck", 3 | WS_GROUP | WS_TABSTOP, 100, 35, 105, 10
 CONTROL "nach SubString suchen", IDC_SubString, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 45, 103, 10
 DEFPUSHBUTTON "Suchen", IDC_Search, 100, 60, 50, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Abbruch", IDC_Cancel, 155, 60, 50, 14
 LTEXT "zu durchsuchende Felder:", -1, 5, 5, 89, 8
 LTEXT "Zeichenkette:", -1, 100, 5, 60, 8
}


AdrAccel ACCELERATORS 
{
 "N", IDC_FileNew, VIRTKEY, NOINVERT, CONTROL
 "O", IDC_FileOpen, VIRTKEY, NOINVERT, CONTROL
 "F", IDC_Quality, VIRTKEY, NOINVERT, CONTROL
 "S", IDC_AdrSort, VIRTKEY, NOINVERT, CONTROL
 "I", IDC_FileInfos, VIRTKEY, NOINVERT, CONTROL
 "s", IDC_AdrSave, ASCII, ALT
 "l", IDC_AdrReadOnly, ASCII, ALT
 "P", IDC_Print, VIRTKEY, NOINVERT, CONTROL
 VK_F3, IDC_SearchAgain, VIRTKEY
 VK_INSERT, IDC_AdrNew, VIRTKEY, ALT
 VK_DELETE, IDC_AdrDelete, VIRTKEY, ALT
 VK_HOME, IDC_First, VIRTKEY, ALT, CONTROL
 VK_END, IDC_Last, VIRTKEY, ALT, CONTROL
 VK_NEXT, IDC_Left, VIRTKEY, ALT, CONTROL
 VK_PRIOR, IDC_Right, VIRTKEY, ALT, CONTROL
}
PrintDialog DIALOG 94, 81, 190, 120
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg_Gray"
CAPTION "Drucken"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 5, 100, 55, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Abbruch", IDCANCEL, 70, 100, 50, 14
 PUSHBUTTON "Eigenschaften", IDC_PrinterSetup, 130, 100, 55, 14
 CONTROL "Nur diese Adresse drucken", IDC_OnlyThis, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 15, 130, 10
 CONTROL "Alle Adressen drucken", IDC_All, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 10, 25, 130, 10
 CONTROL "Alle Adressen von", IDC_FromTo, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 10, 35, 70, 10
 EDITTEXT IDC_AdrFrom, 84, 35, 40, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
 EDITTEXT IDC_AdrTo, 140, 35, 40, 12, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
 CONTROL "Briefumschlag (Anschrift)", IDC_AdrAnschrift, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 60, 95, 10
 CONTROL "Briefumschlag (Absender)", IDC_AdrAbsender, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 10, 70, 95, 10
 CONTROL "Liste (tabellarisch)", IDC_AdrListe, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 10, 80, 95, 10
 LISTBOX IDC_PrintFields, 110, 60, 70, 30, LBS_NOTIFY | WS_BORDER | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_DISABLED | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 GROUPBOX "Anzahl", DATA_GROUPBOX1, 5, 5, 180, 45, BS_GROUPBOX | WS_CHILD | WS_VISIBLE
 LTEXT "bis", -1, 127, 35, 12, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 GROUPBOX "Layout", DATA_GROUPBOX2, 5, 50, 180, 45, BS_GROUPBOX | WS_CHILD | WS_VISIBLE
}

AdressenIcon ICON "d:/applicat/pictures/icon/mail.ico"

